.header {
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
}

.nav {
  align-items: center;

  @include tablet {
    display: flex;
    justify-content: space-between;
  }
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__menu > .logo {
  display: block;
  padding: 16px 0;

  @include tablet {
    margin-right: 87px;
    padding: 26px 0;
  }

  @include desktop {
    margin-right: 93px;
    padding: 24px 0;
  }
}

.nav_menu-open {
  background-color: transparent;
  border: none;
  padding: 0;

  @include tablet {
    display: none;
  }
}

.nav_menu-open-icon {
  display: block;
}

.nav__main-list {
  display: none;

  @include tablet {
    display: flex;
    gap: 50px;
  }
}

.nav__main-list .nav__main-link.current {
  color: var(--accent-color);
}

.nav__main-link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding: 32px 0;
  transition: color var(--transition);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav__contact-list {
  display: none;

  @include tablet {
    display: block;
  }

  @include desktop {
    display: flex;
    gap: 50px;
    margin-left: auto;
  }
}

.nav__contact-link {
  padding: 5px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color var(--transition);

  @include desktop {
    padding: 32px 0;
    font-size: 14px;
    line-height: calc(16 / 14);
    gap: 10px;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav__contact-icon1 {
  fill: currentColor;

  @include desktop {
    width: 16px;
    height: 12px;
  }
}

.nav__contact-icon2 {
  fill: currentColor;

  @include desktop {
    width: 10px;
    height: 16px;
  }
}

// -------- mob-menu ---------------

.mob-menu {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  top: 0;
  position: fixed;
  background-color: var(--white-color);
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  transform: translateX(0);
  transition: 0.45s;

  > .container {
    height: 100%;
  }
}

.is-hidden {
  .mob-menu {
    transform: translateX(100%);
    transition: 0.45s;
  }
}

.mob-menu__close {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;

  &:hover .mob-menu__close-icon,
  &:focus .mob-menu__close-icon {
    fill: var(--accent-color);
  }
}

.mob-menu__close-icon {
  display: block;
}

.mob-menu__wrap {
  padding-left: 25px;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.mob-menu__main-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}

.mob-menu__main-link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mob-menu__contact-list {
  margin-bottom: 64px;
}

.mob-menu__tel {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 32px;
}

.mob-menu__email {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mob-menu__soc-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.mob-menu__soc-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-menu__soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
