.header {
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
}

.nav {
  align-items: center;

  @include tablet {
    display: flex;
    justify-content: space-between;
  }
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__menu > .logo {
  display: block;
  padding: 16px 0;

  @include tablet {
    margin-right: 87px;
    padding: 26px 0;
  }

  @include desktop {
    margin-right: 93px;
    padding: 24px 0;
  }
}

@include tablet {
  .nav_mob-menu {
    display: none;
  }
}

.nav__main-list {
  display: none;

  @include tablet {
    display: flex;
    gap: 50px;
  }
}

.nav__main-list .nav__main-link.current {
  color: var(--accent-color);
}

.nav__main-link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding: 32px 0;
  transition: color var(--transition);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav__contact-list {
  display: none;

  @include tablet {
    display: block;
  }

  @include desktop {
    display: flex;
    gap: 50px;
    margin-left: auto;
  }
}

.nav__contact-link {
  padding: 5px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color var(--transition);

  @include desktop {
    padding: 32px 0;
    font-size: 14px;
    line-height: calc(16 / 14);
    gap: 10px;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav__contact-icon1 {
  fill: currentColor;

  @include desktop {
    width: 16px;
    height: 12px;
  }
}

.nav__contact-icon2 {
  fill: currentColor;

  @include desktop {
    width: 10px;
    height: 16px;
  }
}
