.hero {
  background: #2f303a;
  padding-top: 118px;
  padding-bottom: 118px;

  background-image: var(--bg-gradient), url(../images/hero/hero1x/hero-bg-mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  margin: 0 auto;

  @include retina {
    background-image: var(--bg-gradient), url(../images/hero/hero2x/hero-bg-mob@2x.jpg);
  }

  @include tablet {
    background-image: var(--bg-gradient), url(../images/hero/hero1x/hero-bg-tab@1x.jpg);

    @include retina {
      background-image: var(--bg-gradient), url(../images/hero/hero2x/hero-bg-tab@2x.jpg);
    }
  }

  @include desktop {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-image: var(--bg-gradient), url(../images/hero/hero1x/hero-bg@1x.jpg);

    @include retina {
      background-image: var(--bg-gradient), url(../images/hero/hero2x/hero-bg@2x.jpg);
    }
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;

  @include tablet {
    width: 360px;
  }

  @include desktop {
    font-size: 44px;
    line-height: calc(60 / 44);
    width: 696px;
  }
}
