.preview {
  padding-top: 0;
  display: none;
  @include desktop {
    display: flex;
  }
}

.preview-item {
  @include calc(3);
}

.preview-top-wrap {
  position: relative;
}

.preview-wrap {
  width: 100%;
  min-height: 70px;
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.preview-text {
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
