.logo {
  display: block;
  text-align: center;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  text-decoration: none;

  @include desktop {
    display: inline;
    font-size: 26px;
    line-height: calc(31 / 26);
  }
}

.logo--main {
  color: var(--accent-color);
}

.logo--dark {
  color: #000000;
}

.logo--light {
  color: var(--white-color);
  margin-bottom: 20px;
  display: inline-block;
}
