.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scaley(1);
  transition: transform 250ms linear;

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @include mobile {
    width: 450px;
    min-height: 609px;
  }

  @include desktop {
    width: 528px;
    min-height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaley(0);
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;

  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill var(--transition);

  &:hover .modal-close-icon,
  &:focus .modal-close-icon {
    fill: var(--accent-color);
  }
}

// .backdrop.is-hidden {
//   opacity: 0;
//   visibility: hidden;
//   pointer-events: none;
// }

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(30 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;

  @include desktop {
    line-height: calc(23 / 20);
  }
}

.input-wrap {
  position: relative;
}

.modal-field {
  margin-bottom: 10px;
}

.input-label {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  display: block;
  margin-bottom: 4px;
}

.modal-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;

  &:focus {
    border-color: var(--accent-color);
    cursor: pointer;
  }

  &::placeholder {
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);

    @include desktop {
      font-size: 12px;
      line-height: 1.17;
    }
  }
}

.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.comment {
  display: block;
  width: 100%;
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

.text-area {
  margin-bottom: 20px;
}

.btn-submit {
  width: 200px;
  height: 50px;
  padding: 10px 52px;
}

.license-field {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.modal-license-text {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  position: relative;

  @include desktop {
    line-height: calc(24 / 14);
  }
}

.modal-license-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.input-check:checked + .modal-license-text span {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: #ffffff;
}

.input-check:focus + .modal-license-text span {
  border-color: var(--accent-color);
}

.license-link {
  display: inline-block;
  text-decoration-line: underline;
  color: var(--accent-color);
}
