body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-size: 14px;
}

.container {
  width: 100%;
  // width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @include mobile {
    max-width: 480px;
  }
  @include tablet {
    max-width: 768px;
  }
  @include desktop {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
